body {
    background-image: url('../images/background.gif');
    margin: 0;
    padding: 40px 40px 40px  40px;
    font-family: "Segoe UI", Segoe, Calibri, Arial, sans-serif;
}

blockquote{
    position: relative;
    background-color: rgba(191,229,217,0.5);
    word-wrap: break-word;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 100px;
}

blockquote:before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent rgba(191,229,217,0.5);
    display: block;
    width: 0;
    left: -15px;
    top: 20px;
    float: left;
}

blockquote:hover{
    -webkit-box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.8);
    -moz-box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.8);
    box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.8);
    top: -10px;
    left: -10px;
}

li{
    list-style-type: none;
}

.comment{
    float: left;
}

.comment-meta{
    width: 100px;
    font-size: 0.8em;
    float: left;
    text-align: right;
}

img{
    float: left;
    -ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}

span{
    color:gray;
}